# config/services/pms_admin.yaml
services:
    _defaults:
        autowire: true
        autoconfigure: true

  # =========================
  # Controllers del módulo Pms
  # (fuera de src/Controller/)
  # =========================
    App\Pms\Controller\:
      resource: '../../src/Pms/Controller/'
      autowire: true
      autoconfigure: true
      tags:
        - 'controller.service_arguments'


    App\Pms\Service\Beds24\Client\Beds24AuthService:
        arguments:
            $beds24BaseUrl: '%env(string:BEDS24_URL)%'

    App\Pms\Service\Beds24\Client\Beds24BookingsGetClient:
        arguments:
            $beds24BaseUrl: '%env(string:BEDS24_URL)%'

    App\Pms\Service\Beds24\Client\Beds24BookingsPostDeleteClient:
      arguments:
        $beds24BaseUrl: '%env(string:BEDS24_URL)%'

    App\Pms\Service\Beds24\Client\Beds24RatesCalendarPostClient:
      arguments:
        $beds24BaseUrl: '%env(string:BEDS24_URL)%'

    App\Pms\Admin\Beds24ConfigAdmin:
        tags:
            - name: sonata.admin
              model_class: App\Pms\Entity\Beds24Config
              manager_type: orm
              group: Pms
              label: Configuración Beds24
              show_mosaic_button: false
        public: true

    App\Pms\Admin\PmsBeds24WebhookAuditAdmin:
        tags:
            - name: sonata.admin
              model_class: App\Pms\Entity\PmsBeds24WebhookAudit
              manager_type: orm
              group: Pms
              label: Auditoría Webhook
              show_mosaic_button: false
        public: true

    App\Pms\Admin\PmsBeds24EndpointAdmin:
        tags:
            - name: sonata.admin
              model_class: App\Pms\Entity\PmsBeds24Endpoint
              manager_type: orm
              group: Pms
              label: Endpoints Beds24
              show_mosaic_button: false
        public: true

    App\Pms\Admin\PmsEstablecimientoAdmin:
        tags:
            - name: sonata.admin
              model_class: App\Pms\Entity\PmsEstablecimiento
              manager_type: orm
              group: Pms
              label: Establecimientos
              show_mosaic_button: false
        public: true

    App\Pms\Admin\PmsUnidadAdmin:
        tags:
            - name: sonata.admin
              model_class: App\Pms\Entity\PmsUnidad
              manager_type: orm
              group: Pms
              label: Unidades
              show_mosaic_button: false
        public: true

    App\Pms\Admin\PmsUnidadBeds24MapAdmin:
        tags:
            - name: sonata.admin
              model_class: App\Pms\Entity\PmsUnidadBeds24Map
              manager_type: orm
              group: Pms
              label: Mapeo PMS ↔ Beds24
              show_mosaic_button: false
        public: true

    App\Pms\Admin\PmsPullQueueJobAdmin:
        tags:
           - name: sonata.admin
             model_class: App\Pms\Entity\PmsPullQueueJob
             manager_type: orm
             group: Pms
             label: "Pull Queue Jobs"
             show_mosaic_button: false
        public: true

    App\Pms\Admin\PmsTarifaRangoAdmin:
        public: true
        #Por el factory le paso manualmente al por el constructor override
        arguments:
            $code: 'app.pms.admin.pms_tarifa_rango' #legacy service name, no FQCN
            $class: App\Pms\Entity\PmsTarifaRango
            $baseControllerName: Sonata\AdminBundle\Controller\CRUDController
        tags:
            - name: sonata.admin
              model_class: App\Pms\Entity\PmsTarifaRango
              manager_type: orm
              group: Pms
              label: Tarifas (rangos)
        calls:
          - [ setTemplate, [ list, pms/admin/pms_tarifa_rango/list.html.twig ] ]

    App\Pms\Admin\PmsTarifaQueueAdmin:
        tags:
            - name: sonata.admin
              model_class: App\Pms\Entity\PmsTarifaQueue
              manager_type: orm
              group: Pms
              label: Cola de tarifas
              show_mosaic_button: false
        public: true

    App\Pms\Admin\PmsTarifaQueueDeliveryAdmin:
      tags:
        - name: sonata.admin
          model_class: App\Pms\Entity\PmsTarifaQueueDelivery
          manager_type: orm
          group: Pms
          label: Delivery de tarifas (maps)
          show_mosaic_button: false
      public: true

    App\Pms\Admin\PmsEventoBeds24LinkAdmin:
        tags:
            - name: sonata.admin
              model_class: App\Pms\Entity\PmsEventoBeds24Link
              manager_type: orm
              group: Pms
              label: Links
              show_mosaic_button: false
        public: true

    App\Pms\Admin\PmsEventoCalendarioAdmin:
        tags:
            - name: sonata.admin
              model_class: App\Pms\Entity\PmsEventoCalendario
              manager_type: orm
              group: Pms
              label: Eventos calendario
              show_mosaic_button: false
        public: true

    App\Pms\Admin\PmsBeds24LinkQueueAdmin:
        tags:
            - name: sonata.admin
              model_class: App\Pms\Entity\PmsBeds24LinkQueue
              manager_type: orm
              group: Pms
              label: Cola Beds24 (Links)
              show_mosaic_button: false
        public: true

    App\Pms\Admin\PmsReservaAdmin:
        tags:
            - name: sonata.admin
              model_class: App\Pms\Entity\PmsReserva
              manager_type: orm
              group: Pms
              label: Reservas PMS
        public: true
        calls:
          - [ setTemplate, [ list, pms/admin/pms_reserva/list.html.twig ] ]

    App\Pms\Admin\PmsChannelAdmin:
        tags:
            - name: sonata.admin
              model_class: App\Pms\Entity\PmsChannel
              manager_type: orm
              group: Pms
              label: Canales (Beds24)
              show_mosaic_button: false
        public: true

    App\Pms\Admin\PmsEventoEstadoAdmin:
        tags:
            - name: sonata.admin
              model_class: App\Pms\Entity\PmsEventoEstado
              manager_type: orm
              group: Pms
              label: Estados del evento
              show_mosaic_button: false
        public: true

    App\Pms\Admin\PmsEventoEstadoPagoAdmin:
        tags:
            - name: sonata.admin
              model_class: App\Pms\Entity\PmsEventoEstadoPago
              manager_type: orm
              group: Pms
              label: Estados de pago del evento
              show_mosaic_button: false
        public: true