sonata_admin:
    title:      Extranet
    title_logo: /app/images/logo_title.png
    default_controller: 'App\Oweb\Controller\CRUDController'
    persist_filters: true
    security:
        handler: App\Oweb\Security\RoleMappingSecurityHandler

        role_admin: ROLE_ADMIN
        role_super_admin: ROLE_SUPER_ADMIN
    dashboard:
        blocks:
            - { type: sonata.admin.block.admin_list, position: left }
        groups:
            app.oweb.admin.group.cotizacion:
                label: 'Cotizaciones'
                icon: '<i class="fa fa-calendar"></i>'
                items:
                    - app.oweb.admin.cotizacioncotizacion
                    - app.oweb.admin.cotizacionfile
                    - app.oweb.admin.cotizacioncotservicio
                    - app.oweb.admin.cotizacioncotcomponente
                    - app.oweb.admin.cotizacioncotcomponenteoperativa
                    - app.oweb.admin.viewcotizacioncotcomponentealerta
                    - app.oweb.admin.cotizacionfilepasajero
                    - app.oweb.admin.cotizacionfiledocumento
                    - app.oweb.admin.cotizacionestadocotizacion
                    - app.oweb.admin.cotizacionestadocotcomponente
                    - app.oweb.admin.cotizaciontipofiledocumento
                    - app.oweb.admin.cotizacioncotpolitica
                    - app.oweb.admin.cotizacioncotnota
                    - app.oweb.admin.cotizacionmenu
                    - app.oweb.admin.cotizacionmenulink

            app.oweb.admin.group.servicio:
                label: 'Servicios'
                icon: '<i class="fa fa-map"></i>'
                items:
                    - app.oweb.admin.servicioservicio
                    - app.oweb.admin.servicioitinerario
                    - app.oweb.admin.servicioitinerariodia
                    - app.oweb.admin.servicionotaitinerariodia
                    - app.oweb.admin.serviciocomponente
                    - app.oweb.admin.serviciocomponenteitem
                    - app.oweb.admin.serviciotarifa
                    - app.oweb.admin.servicioprovider
                    - app.oweb.admin.servicioprovidermedio
                    - app.oweb.admin.serviciotipocomponente
                    - app.oweb.admin.serviciotipotarifa
                    - app.oweb.admin.serviciomodalidadtarifa
                    - app.oweb.admin.serviciotipotarifadetalle

            app.oweb.admin.group.reserva:
                label: 'Reservas'
                icon: '<i class="fa fa-map"></i>'
                items:
                    - app.oweb.admin.reservareserva
                    - app.oweb.admin.reservaunit
                    - app.oweb.admin.reservaunitmedio
                    - app.oweb.admin.reservaunitcaracteristica
                    - app.oweb.admin.reservaunitcaracteristicalink
                    - app.oweb.admin.reservaunittipocaracteristica
                    - app.oweb.admin.reservachannel
                    - app.oweb.admin.reservaestado
                    - app.oweb.admin.reservadetalle
                    - app.oweb.admin.reservatipodetalle
                    - app.oweb.admin.reservaimporte
                    - app.oweb.admin.reservatipoimporte
                    - app.oweb.admin.reservapago
                    - app.oweb.admin.reservaestablecimiento
                    - app.oweb.admin.reservaunitnexo

            app.oweb.admin.group.maestro:
                label: 'Maestros'
                icon: '<i class="fa fa-puzzle-piece"></i>'
                items:
                    - app.oweb.admin.maestrotipocambio
                    - app.oweb.admin.maestromedio
                    - app.oweb.admin.maestroclasemedio
                    - app.oweb.admin.maestrocategoriatour
                    - app.oweb.admin.maestrotipopax
                    - app.oweb.admin.maestrocontacto
                    - app.oweb.admin.maestrotipocontacto
                    - app.oweb.admin.maestroidioma
                    - app.oweb.admin.maestropais
                    - app.oweb.admin.maestromoneda
                    - app.oweb.admin.maestrotipodocumento
                    - app.oweb.admin.maestrosexo

            app.oweb.admin.group.usuario:
                label: 'Usuario'
                icon: '<i class="fa fa-user-circle"></i>'
                items:
                    - app.oweb.admin.usercuenta
                    - app.oweb.admin.usercuentatipo

            app.oweb.admin.group.organizacion:
                label: 'Empresa'
                icon: '<i class="fa fa-institution"></i>'
                items:
                    - app.oweb.admin.userorganizacion
                    - app.oweb.admin.userdependencia
                    - app.oweb.admin.userarea

            app.oweb.admin.group.fit:
                label: 'Fit'
                icon: '<i class="fa fa-bar-chart"></i>'
                items:
                    - app.oweb.admin.fitdieta
                    - app.oweb.admin.fittipodieta
                    - app.oweb.admin.fitalimento
                    - app.oweb.admin.fitmedidaalimento
                    - app.oweb.admin.fittipoalimento

            app.oweb.admin.group.transporte:
                label: 'Transportes'
                icon: '<i class="fa fa-bus"></i>'
                items:
                    - app.oweb.admin.transporteservicio
                    - app.oweb.admin.transporteserviciocontable
                    - app.oweb.admin.transporteconductor
                    - app.oweb.admin.transporteunidad
                    - app.oweb.admin.transporteunidadbitacora
                    - app.oweb.admin.transporteserviciooperativo
                    - app.oweb.admin.transportetiposeroperativo
                    - app.oweb.admin.transportetipounibit
#                    - {route: gopro_transporte_cargador_genericoprograma, label: 'Cargador de servicios', roles: [ROLE_CARGA]}

            goprosonata.admin.group.comprobante:
                label: 'Comprobantes de venta'
                icon: '<i class="fa fa-bus"></i>'
                items:
                    - app.oweb.admin.comprobantecomprobante
                    - app.oweb.admin.comprobantetipo
                    - app.oweb.admin.comprobanteestado
                    - app.oweb.admin.comprobanteproductoservicio
                    - app.oweb.admin.comprobantetipoproductoservicio

            goprosonata.admin.group.cuenta:
                label: 'Cuentas'
                icon: '<i class="fa fa-line-chart"></i>'
                items:
                    - app.oweb.admin.cuentaperiodo
                    - app.oweb.admin.cuentamovimiento
                    - app.oweb.admin.cuentacuenta
                    - app.oweb.admin.cuentacentro
                    - app.oweb.admin.cuentaclase
                    - app.oweb.admin.cuentatipo
    templates:
        # default global templates
        layout:  oweb/admin/base_sonata/standard_layout.html.twig
        edit:    oweb/admin/base_sonata/edit.html.twig
        list_block: oweb/admin/base_sonata/block_admin_list.html.twig
        user_block: oweb/block/user_block.html.twig

    assets:
        extra_stylesheets:
            - bundles/sonatatranslation/css/sonata-translation.css



