vich_uploader:
    # 1. INDISPENSABLE: Le dice al bundle que usamos Doctrine ORM
    db_driver: orm

    # 2. Configura cómo lee la entidad (estamos usando Atributos de PHP 8)
    metadata:
        type: attribute

    # 3. Tus mapeos específicos para Cusco
    mappings:
        huesped_docs:
            uri_prefix: /carga/pms/pms_reserva_huesped/documento
            upload_destination: '%kernel.project_dir%/public/carga/pms/pms_reserva_huesped/documento'
            # Tu Naming específico (Nombre + Apellido)
            namer: App\Pms\Naming\HuespedNamer

            # Opciones de limpieza automática
            inject_on_load: false
            delete_on_update: true
            delete_on_remove: true

        huesped_firmas:
            uri_prefix: /carga/pms/pms_reserva_huesped/firmas
            upload_destination: '%kernel.project_dir%/public/carga/pms/pms_reserva_huesped/firmas'

            # Reutilizamos el Naming (él sabe distinguir internamente)
            namer: App\Pms\Naming\HuespedNamer

            inject_on_load: false
            delete_on_update: true
            delete_on_remove: true