vich_uploader:
    db_driver: orm
    mappings:
        huesped_docs:
            # URL Web: /carga/pms/...
            uri_prefix: '/%pms.path.huesped_docs%'

            upload_destination: '%app.public_dir%/%pms.path.huesped_docs%'

            namer: App\Pms\Naming\HuespedNamer
            delete_on_update: true
            delete_on_remove: true

        huesped_firmas:
            uri_prefix: '/%pms.path.huesped_firmas%'
            upload_destination: '%app.public_dir%/%pms.path.huesped_firmas%'

            namer: App\Pms\Naming\HuespedNamer
            delete_on_update: true
            delete_on_remove: true