{% if object is defined and admin.isGranted('show', object) and admin.hasRoute('resumen') and object.id is not null %}
    <li>
        <a href="{{ admin.generateObjectUrl('resumen', object) }}">
            <i class="fa fa-info" aria-hidden="true"></i>
            Resumen
        </a>
    </li>
{% endif %}
