###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/


###> PERSONALIZADO PMS ###
# Carpetas de carga de archivos/documentos del sistema
/public/carga/
/public/debug/

# Evitar que se suban por accidente si alguien intenta usar npm
/node_modules/
/public/build/
yarn-error.log
npm-debug.log
.DS_Store
###< PERSONALIZADO PMS ###

###> HERRAMIENTAS ###
/composer.lock
phpstan.neon
.idea/
.vscode/
###< HERRAMIENTAS ###
###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> varios ###
cookies.txt
/debug/
###< varios ###

###> Vite ###
/public/service-worker.js
/public/manifest.webmanifest
/public/workbox-*.js
/public/app_pax/
/pax/.env.development
/pax/.env.production
/pax/certs/
/pax/node_modules/
###< Vite ###

