<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="theme-color" content="#ffffff">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Pax">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    {% if not is_dev %}
        <link rel="manifest" href="/manifest.webmanifest">
    {% endif %}

    <title>Pax Experience</title>

    <link rel="icon" type="image/svg+xml" href="/app_pax/favicon.svg" />
    {% if not is_dev %}
        <link rel="apple-touch-icon" href="/app_pax/pwa-192x192.png">
    {% endif %}

    {% if not is_dev and css_files is defined %}
        {% for css in css_files %}
            <link rel="stylesheet" href="/app_pax/{{ css }}">
        {% endfor %}
    {% endif %}

    <script>
        window.OPENPERU_CONFIG = {
            apiUrl: "{{ app.environment == 'dev' ? 'https://newapi.openperu.test:8890' : 'https://api.openperu.pe' }}"
        };
    </script>
</head>
<body class="bg-slate-50">
<div id="app"></div>

{% if is_dev %}
    <script type="module" src="https://pax.openperu.test:5173/app_pax/@vite/client"></script>
    <script type="module" src="https://pax.openperu.test:5173/app_pax/{{ vite_entry }}"></script>
{% else %}
    <script type="module" src="/app_pax/{{ js_file }}"></script>

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/service-worker.js');
        }
    </script>
{% endif %}
</body>
</html>