{# templates/panel/layout.html.twig #}

{# Heredar del diseño base de EasyAdmin #}
{% extends '@EasyAdmin/layout.html.twig' %}

{% block head_javascript %}
    {{ parent() }}

    {#
    El resto de librerías (TinyMCE, FullCalendar) se cargan
    automáticamente desde DashboardController::configureAssets()

    Mantenemos tu script de punto de entrada 'panel':
    #}
    <script type="module">import 'panel';</script>
{% endblock %}

{% block content %}
    <div data-controller="panel--form-errors">
        {{ parent() }}
    </div>
{% endblock %}

{#
Ya no necesitamos el bloque head_stylesheets manual.
Tippy CSS también se carga desde el Controller.
#}