{% if admin.isGranted('show', object) and admin.hasRoute('resumen') and object.telefono is not empty %}
    <a href="https://wa.me/{{object.telefono|replace({'-': '', '+': '', '(': '',  ')': '',  ' ': ''}) }}"
       class="btn btn-sm btn-success"
       title="Whatsapp">
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
        Whatsapp
    </a>
{% endif %}
