{% if admin.isGranted('show', object) and admin.hasRoute('resumen') and object.telefono is not empty and object.chanel.id == constant('App\\Entity\\ReservaChanel::DB_VALOR_BOOKING') and object.nota is empty %}
    {% set whatsappText = 'Hola ' ~ object.nombre ~ ', muchas gracias por su reserva!.\n\n' %}
    {% set whatsappText = whatsappText ~ 'Encantados de poder tenerlos en nuestras Casita Centro Cusco Inti.\n\n' %}
    {% set whatsappText = whatsappText ~ 'Para re-confirmar su reserva le solicitamos hacer un prepago de 50 soles o 15 dólares.\n' %}
    {% set whatsappText = whatsappText ~ 'Para realizar el prepago contamos con cuentas en los principales bancos y billeteras electrónicas, tambien puede realizarlo mediante tarjeta de crédito. Solicite detalles respondiendo a este mensaje.\n' %}
    {% set whatsappText = whatsappText ~ 'El plazo para realizar el prepago es de 24 horas.\n' %}
    {% set whatsappText = whatsappText ~ 'La diferencia del pago deberá hacerse en efectivo, transferencia o tarjeta de crédito (+5%) al momento de la entrega de las llaves.\n' %}
    {% set whatsappText = whatsappText ~ 'También seria importante nos brinde su número de vuelo o medio de transporte y hora de llegada para programar la entrega de las llaves.\n\n' %}
    {% set whatsappText = whatsappText ~ 'Nosotros brindamos *traslados y tours* a nuestros huéspedes con tarifas especiales y damos *asesoría gratuita*.\n\n' %}
    {% set whatsappText = whatsappText ~ 'Por favor tomar en cuenta:\n\n' %}
    {% set whatsappText = whatsappText ~ 'Check-in: Desde ' ~ object.fechahorainicio | date('Y-m-d') ~ ' *14:00*\n' %}
    {% set whatsappText = whatsappText ~ 'Check-out: Hasta ' ~ object.fechahorafin | date('Y-m-d') ~ ' *10:00*\n\n' %}
    {% set whatsappText = whatsappText ~ 'Si el departamento esa listo antes del Check-in, nosotros encantados de recibirlos sin ningun costo (Coordinar un día antes).\n\n' %}
    {% set whatsappText = whatsappText ~ 'Saludos cordiales\n\n' %}
    {% set whatsappText = whatsappText ~ 'Centro Cusco Inti / Casitas Acogedoras en el Centro de Cusco' %}
    <a href="https://wa.me/{{object.telefono|replace({'-': '', '+': '', '(': '',  ')': '',  ' ': ''}) }}?text={{ whatsappText|url_encode }}"
       target="_blank" class="btn btn-sm btn-success"
       title="Confirmar">
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
        Confirmar
    </a>
{% endif %}
