{% if object is defined and admin.isGranted('show', object) and admin.hasRoute('archivomc') and object.id is not null %}
    <li>
        <a class="sonata-action-element" href="{{ admin.generateObjectUrl('archivomc', object) }}">
            <i class="fa fa-info" aria-hidden="true"></i>
            F MC
        </a>
    </li>
{% endif %}
