{% if object is defined and admin.isGranted('show', object) and admin.hasRoute('archivocon') %}
    <li>
        <a class="sonata-action-element" href="{{ admin.generateObjectUrl('archivocon', object) }}">
            <i class="fa fa-info" aria-hidden="true"></i>
            F Consettur
        </a>
    </li>
{% endif %}
