{% if admin.isGranted('show', object) and admin.hasRoute('archivodcc') %}
    <a href="{{ admin.generateObjectUrl('archivodcc', object) }}"
       class="btn btn-sm btn-success"
       title="Formato DCC">
        <i class="fa fa-info" aria-hidden="true"></i>
        F DCC
    </a>
{% endif %}
