{% if admin.isGranted('show', object) and admin.hasRoute('archivopr') %}
    <a href="{{ admin.generateObjectUrl('archivopr', object) }}"
       class="btn btn-sm btn-success"
       title="Formato PeruRail">
        <i class="fa fa-info" aria-hidden="true"></i>
        F PeruRail
    </a>
{% endif %}
