{% if admin.isGranted('show', object) and admin.hasRoute('archivomc') %}
    <a href="{{ admin.generateObjectUrl('archivomc', object) }}"
       class="btn btn-sm btn-primary"
       title="Formato MC">
        <i class="fa fa-info" aria-hidden="true"></i>
        F MC
    </a>
{% endif %}
