imports:
    - { resource: 'services/services_parameters.yaml' }
    - { resource: 'services/services_core.yaml' }
    - { resource: 'services/services_calendar.yaml' }
    - { resource: 'services/services_comprobante.yaml' }
    - { resource: 'services/services_cotizacion.yaml' }
    - { resource: 'services/services_cuenta.yaml' }
    - { resource: 'services/services_fit.yaml' }
    - { resource: 'services/services_maestros.yaml' }
    - { resource: 'services/services_organizacion.yaml' }
    - { resource: 'services/services_pms.yaml' }
    - { resource: 'services/services_reserva.yaml' }
    - { resource: 'services/services_servicio.yaml' }
    - { resource: 'services/services_transporte.yaml' }
