{% if admin.isGranted('show', object) and admin.hasRoute('archivocon') %}
    <a href="{{ admin.generateObjectUrl('archivocon', object) }}"
       class="btn btn-sm btn-primary"
       title="Formato Consettur">
        <i class="fa fa-info" aria-hidden="true"></i>
        F Consettur
    </a>
{% endif %}
