{% if admin.hasRoute('list') %}
    <li>
        <a class="sonata-action-element" href="{{ url('admin_app_servicioprovidermedio_carga') }}">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            Carga
        </a>
    </li>
{% endif %}


