{% extends '@SonataAdmin/CRUD/Association/list_one_to_many.html.twig' %}

{%- block relation_link -%}

    {% set partes = element|render_relation_element(field_description)|split(' | ', 2) %}
    <a href="{{ field_description.associationadmin.generateObjectUrl(route_name, element, route_parameters) }}">
        {% if partes[1] is not defined %}
            {{- partes[0] }}
        {% else %}
            <span style="color: indianred;">{{- partes[0] }}</span>&nbsp; {{- partes[1] }}
        {% endif %}
    </a>
{%- endblock -%}


