{% if object is defined and admin.isGranted('EDIT', object) and admin.hasRoute('extender') and object.id is not null %}
    <li>
        <a id="extendLink-{{ object.id }}" class="sonata-action-element" href="{{ admin.generateObjectUrl('extender', object) }}">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            Extender
        </a>

        <script>
            $("#extendLink-{{ object.id }}").click(function(e) {
                e.preventDefault();
                var $link = $(this);

                bootbox.confirm("Esta seguro que desea extender la reserva?", function(result) {
                    if (result == true) {
                        document.location.assign($link.attr('href'));
                    }
                });
            });
        </script>
    </li>
{% endif %}
